---
---
$section-headings-color: #ffffff !default;
$body-text-color: #cfd9dd !default;
$body-link-color: #df0571 !default;
$blockquote-text-color: #cbbfcf !default;

$code-bg-color: #291d35 !default;
$code-text-color: white !default;

@import "{{ site.theme }}";

body {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(32,19,39,1) 90%);
    font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1 {
    font-weight: 600;
}

.main-content table th, .main-content table td {
    background-color:#cbbfcf;
    color: #3c2747;
    border: 1px solid #3c2747;
    width: 100em;
}

h3 a, h2 a {
    background-color: #df0571;
    color: white;
    padding: 8px 15px;
}

.main-content hr {
    background-color: #3c2747;
}

.main-content pre {
    border: solid 1px #201327;
}

.highlight .kv, .highlight .o {
    color: #cbbfcf;
}

.highlight .k, .highlight .ow {
    color: #c377ec;
}

.highlight .nf {
    color: #e7a253;
}

.highlight .c1 {
    color: #b19db8;
}

.highlight .s {
    color: #9af883;
}

.highlight .nb {
    color: #03afe9;
}

.highlight .mi {
    color: #03e4e4;
}

.highlight .se {
    color: #ff104c;
}

.highlight {
    background-color: #201327;
}

.site-footer {
    border-top: solid 1px #3c2747;
}
