---
---
$section-headings-color: #ffffff !default;
$body-text-color: #cfd9dd !default;
$body-link-color: #df0571 !default;
$blockquote-text-color: #abc0c9 !default;

$code-bg-color: #3c2747 !default;
$code-text-color: #f3f6fa !default;

@import "{{ site.theme }}";

body {
    background-color: #201327;
    font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.main-content table th, .main-content table td {
    background-color: white;
    color: black;
    border: 1px solid black;
}

h3 a, h2 a {
    background-color: #df0571;
    color: white;
    padding: 8px 15px;
}

.main-content hr {
    background-color: #3c2747;
}
